@model IEnumerable<GameQuiz.Models.QuizModel>

@{
    ViewBag.Title = "EasyQuiz";
}

<h2>EasyQuiz</h2>
@foreach(var item in Model) { 
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.id) @Html.DisplayFor(modelItem => item.Question)</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card" >
                                    <div class="card-body">
                                        @Html.RadioButton(item.id.ToString(), item.Option1.ToString()) @Html.DisplayFor(modelItem => item.Option1)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card" >
                                    <div class="card-body">
                                        @Html.RadioButton(item.id.ToString(), item.Option2.ToString()) @Html.DisplayFor(modelItem => item.Option2)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        @Html.RadioButton(item.id.ToString(), item.Option3.ToString()) @Html.DisplayFor(modelItem => item.Option3)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        @Html.RadioButton(item.id.ToString(), item.Option4.ToString()) @Html.DisplayFor(modelItem => item.Option4)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}